body 
{
	margin: 0;
}

.sidebar
{
	height: 100%;
	width: 25%;
	position: fixed;
	top: 0;
	background-color: #66b3ff;
	padding-top: 20px;
	text-align: center;
}

.thumbnail
{
	display: inline-block;
	padding: 10px;

}

.thumbnail img
{
	width:100px;
	height:120px; 
	border: 2px solid;
	
}

.thumbnail img:hover
{
	opacity: 0.65;
}

.imagestuff
{
	text-align:center;
	padding-left: 25%;
}

#displayImg
{
	width: 60%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}